<!-- Modal -->

    <form class="modal fade" id="formModal" method="post" action="/contact/edit/{{ item.id }}">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Sign Up</h3>
      </div>
      <div class="modal-body">
           {% csrf_token %}
           {{form.as_p}
      </div>
      <div class="modal-footer">
           <input class="btn btn-primary" type="submit" value="Save" />
           <input name="cancel" class="btn btn-default" type="submit" value="Cancel"/>
      </div>
    </form>

{#    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
{#      <div class="modal-dialog">#}
{#        <div class="modal-content">#}
{#          <div class="modal-header">#}
{#            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#            <h4 class="modal-title" id="myModalLabel">Modal title</h4>#}
{#          </div>#}
{#          <div class="modal-body">#}
{#                <div class="row">#}
{#                        <form method="POST" action='.'>#}
{#                            {% csrf_token %}#}
{#                            {{ form.as_p }}#}
{#                            <input type='submit' value="Sign up">#}
{#                            <input type='submit' value="Finish" class="btn btn-primary">#}
{#                        </form>#}
{#                </div>#}
{#          </div>#}
{#          <div class="modal-footer">#}
{#            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#            <button type="button" class="btn btn-primary">Finish</button>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}